@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
#ui{
    margin-left: 50%;
    transform:translate(-50%,5%);
    height: 700px;
    width: 1000px;
    background-color: rgba(55, 46, 46, 0.686);
    position: fixed;
}
#pc,#bucket,#payload,#target{
    background-color: rgb(255, 255, 255);
    float: left;
    overflow: hidden;
    padding: 10px;
    height: 9%;
    width: 18%;
    text-align: center;
    text-transform: uppercase;
}
#pc{
    position: fixed;
    margin-left: 42%;
    margin-top: 200px;
}
#bucket{
    position: fixed;
    margin-left:67%;
    margin-top:600px;
}
#payload{
    position: fixed;
    margin-left: 13%;
    margin-top:600px;
}
#target{
    position: fixed;
    margin-left: 41%;
    margin-top:600px;
}
#pc span, #bucket span, #payload span, #target_weight_value{
    background-color: rgb(170, 170, 170);
    position: absolute;
    bottom: 20%;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%)
}
#store{
    background-color: rgb(235, 214, 99);
    position: absolute;
    height: 9.8%;
    font-size: 40px;
    width: 17%;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%)
}
#ui button:hover{
    background-color: rgb(206, 175, 2);
    cursor: pointer;
    color: white;
}
#display,#tbd{
    background-color: rgb(235, 214, 99);
    position: fixed;
    height: 9.8%;
    font-size: 40px;
    width: 17%;
    bottom: 70%;
    left: 30%;
}